html, body {
    height: 100%;
    margin: 0;
  }
  /*делаем чёрный фон и выравниваем всё по центру*/
  body {
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /*толщина холста — 1 пиксель, белый цвет*/
  canvas {
    border: 1px solid white;
  }